/*Nullstiller det som evt blir lagt inn autmatisk */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

                        /*-------LITEN SKJERM------*/
                        /*---- Screens < 600px ----*/

/*------Generell styling-----*/
/* -- styling til skriftstørrelse og skrifttype--*/
h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
}

p{
    font-size: 18px;
    line-height: 2.5rem;
}

div{
    padding: 2.5rem;
}

/*---HEADER---*/

/*Styling for header */
header{
   background-color: #ffd500;
   height: fit-content;
   min-height: 4rem;

   /*Gjør at navigasjonsbaren følger med når man blar seg opp/ned på siden*/
   position: sticky;
   position: -webkit-sticky;
   top: 0;

   display: flex;
   justify-content: center;
   align-items: center;
}

header ul{                       /* bruker flexbox for å plassere knappene til navigasjonsboksen*/
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

header li{
    list-style-type: none;
    padding: 0.5rem;
}

header li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    
}

header a:hover{
border-bottom: solid 2px black;
}



/*---------------HOME-PAGE---------------*/
/*---Introduksjon---*/
/*justering av plassering*/
.introduksjon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E46D05;
    border-top: 7px dashed #ffd500;
    border-bottom: 7px dashed #416679;
}

/*styling av tekst*/
.introduksjon h1{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 300%;
}

.introduksjon p{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 10rem;
    
    max-width: 400px;
    min-width: 200px;   
    
    /*max-width: 600px;
    min-width: 400px;  */
}

/*styling av bildet*/  
.introduksjon img{
    width: 400px;
}

/* justering av forhåndsvisningene*/
.forhåndsvisning:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:#416679;
    border-top: 7px dashed #E46D05;
    border-bottom: 7px dashed #29AC68;
}

.forhåndsvisning:nth-child(3){
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column-reverse;
    background-color:#29AC68;
    border-top: 7px dashed #416679;
    border-bottom: 7px dashed #3AB5BD;
}

.forhåndsvisning:nth-child(4){
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color:#3AB5BD;
    border-top:7px dashed #29AC68;
    border-bottom: 7px dashed #A13598;

}

.forhåndsvisning:nth-child(5){
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column-reverse;
    background-color:#A13598;
    border-top:7px dashed #3AB5BD;
}



/*justering av tekst til forhåndsvisningene*/
.for-tekst1 p{
    text-align: center;
    max-width: 30rem;
    min-width: 20rem;
    background-color: white;
}

.for-tekst1 h2{
    text-align: center;
    background-color: white;
}

.for-tekst2 p{
    text-align: center;
    max-width: 30rem;
    min-width: 20rem;
    background-color: white;
}
.for-tekst2 h2{
    text-align: center;
    background-color: white;
}

/*Gjør overskriftene om til linker som fører til gjeldende side*/
.for-tekst1 h2 a{
    color: black;
    text-decoration: none;
    
}
.for-tekst1 h2 a:hover{
text-decoration: underline;
}

.for-tekst2 h2 a{
    color: black;
    text-decoration: none;
    
}
.for-tekst2 h2 a:hover{
text-decoration: underline;
}


/*størrelsen på bildene*/
.forhåndsvisning img{
    width: 250px;
    padding: 1rem;
}


/*---------------Reflection-Side---------------*/

/*---Introduksjon---*/

/*Plassering av elementene*/
.introduksjon2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #ffd500;
}

/*Styling av tekst*/
.introduksjon2 h1 {
    text-align: center;
    padding-top: 0rem;
     max-width: 30rem;
   
}

.introduksjon2 p {
    text-align: justify;
    padding-top: 0.5em; ;
    padding-bottom: 3rem;
    max-width: 30rem;
}

/*Styling av forsidebilde*/
.introduksjon2 img{
    width: 300px;
    height: 375px;
    
}

/*---Hoveddel---*/

/*plassering av elementene*/
.refleksjon:nth-child(2)
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column-reverse;
    background-color:white;
}

.refleksjon:nth-child(3){
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column-reverse;
    background-color:white;
}

/*tekststyling*/
.ref-tekst1 p{
    text-align: center;
    max-width: 25rem;
    min-width: 10rem;
}
.ref-tekst1 h2 {
    text-align: center;
}

.ref-tekst2 p{
    text-align: center;
    max-width: 25rem;
    min-width: 10rem;
}
.ref-tekst2 h2 {
    text-align: center;
}



/*styling av tekstbilder*/
.refleksjon img {
    width: 50px;
    height: 300px;
}

/*---Konklusjon---*/
/*plassering av elementene*/
.konklusjon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#ffd500; 
}

/*Styling av tekst*/
.introduksjon2 h1{
    text-align: center;
    padding-top: 3rem;
}

.introduksjon2 p{
    text-align: center;
    padding-bottom: 7rem;
}

/*Styling av tekst*/
.konklusjon h2{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    
}

.konklusjon p{
    text-align: center;
    padding-bottom: 7rem;
    max-width: 25rem;
    min-width: 10rem;
}

/*Bildestyling av OsloMet*/
.refleksjon img:nth-child(2){
width: 350px;
height: 400px;
padding: 3rem; 
}







/*---------------ACCESSIBILITY-SIDE---------------*/
/*Styling av overskriften og innledning*/
#innledning h1{
   padding-bottom: 1rem;
   margin-right: 2rem;
    margin-left: 2rem;
} 

#innledning p{
    margin-left:2rem;
    margin-right: 2rem;
}

/*Styling av referanser i teksten*/
#innledning a{
    text-decoration: none;
 }
 
#innledning a:hover{
     color: blue;
 }

/*Styling av bilder */
.forklaring img{
    height: 15rem;  
    width: 100%;
    max-width: 520px;
    padding-top: 1rem;
}

/*Bruker pseudo-element for å veksle gul og hvit-farge på tekstbokser*/
.forklaring:nth-child(2){
    background-color: #ffd500;
}

.forklaring:nth-child(4){
    background-color: #ffd500;
}





/*---------------TOPICAL INFORMATION-SIDE---------------*/
#overskrift1{
margin-top: 2rem;

padding-top: 2rem;
padding-left: 2rem;
padding-right: 2rem;

text-align: center;
}

.oppgavetekst{
max-width: 80%;
margin-left: auto;
margin-right: auto;
}

/*Styling av referanser i teksten*/
.oppgavetekst a{
   text-decoration: none;
}

.oppgavetekst a:hover{
    color: blue;
}

/*Styling av kildeliste*/


#kilder li{
    list-style-type: none;
}

#kilder li a{
    color: black;
    padding: 1rem;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

#kilder li a:hover{
    background-color: #ffd500;
}



/*-----------------------------------------------------------------------------------*/
                        /*--------MEDIUM STORE SKJERMER--------*/
                        /* ---Screens 600px –960 px ----*/

@media screen and (min-width: 600px){
/*---------------Generell styling---------------*/
header li a{
    font-size: 20px;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 32px;
}

p{
    font-size: 22px;
}

/*---Header---*/
/*Styling for navigasjonsbaren */
header{
    height: fit-content;
    min-height: 2rem;
 }
 
 header ul{                       
     display:flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }
 
 header li{
     margin-top: 4%;
     margin-bottom: 2.5%;
     margin-right: 2.5%;
     margin-left: 2.5%;
     list-style-type: none;
 }
 
 
/*----HOME-PAGE----*/

/*Introduksjon*/
/*justering av plassering*/
.introduksjon{
    background-color: white;
    border: none;
}

/*styling av tekst*/
.introduksjon h1{
    padding-top: 3rem;
}

.introduksjon p{
    max-width: 600px;
    min-width: 400px;
}
    

/* justering av forhåndsvisningene*/
.forhåndsvisning:nth-child(2){
    flex-direction: row-reverse;
    background-color:#ffd500;
    border:none;
}

.forhåndsvisning:nth-child(3){
    flex-direction: row;
    background-color:white;
    border:none;
}

.forhåndsvisning:nth-child(4){
    flex-direction: row-reverse;
    background-color:#ffd500;
    border:none;
}

.forhåndsvisning:nth-child(5){
    flex-direction: row;
    background-color:white;
    border:none;
}

/* /*Justering på teksten*/
.for-tekst1 p{
    text-align: left;
    max-width: 20rem;
    min-width: 15rem;
    background-color: #ffd500;
}

.for-tekst1 h2{
    text-align: left;
    background-color: #ffd500;
}
.for-tekst2 p{
    text-align: right;
    max-width: 20rem;
    min-width: 15rem;
    
}
.for-tekst2 h2{
    text-align: right;
}

/*--------------Reflection-Page-------------------*/


/*Justering av bredden på tekstene på refleksjonen*/
.ref-tekst1 p{
    text-align: center;
    max-width: 40rem;
}

.ref-tekst1 h2 {
    text-align: center;
}

.ref-tekst2 p{
    text-align: center;
    max-width: 40rem;
}

.ref-tekst2 h2 {
    text-align: center;
}
/*Justering av bredden  på konklusjonssteksten*/
.konklusjon p{
    max-width: 40rem;
}



/*---------------Accessibility-side---------------*/
#innledning h1{
    display: flex;
    justify-content: center;
 } 

.forklaring h2{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling av teskten*/
.forklaring p{
    padding: 1rem;
}
.forklaring img{
    max-width: 880px;
    width: 100%;
    height: 30rem;
    align-items: center;
}


/*---------------TOPICAL INFORMATION-side---------------*/
#kilder{
    margin-left: 5rem;
    margin-right: 5rem;
}
}




/*-----------------------------------------------------------------------------------*/
/*----------STORE SKJERMER--------*/
/* ---Screens >960 px--- */
@media screen and (min-width: 960px){
/*---------------Generell styling---------------*/
h1{
    font-size: 44px;
}

h2{
    font-size: 34px;
}

p{
    font-size: 24px;
}

header li a{
    font-size: 24px;
}

/*----Home-Page---*/
/*Justerer bredden på teksten til forhåndsvisningene*/
.introduksjon p{
    max-width: 40rem;
}

.for-tekst1 p{
    max-width: 40rem;
    min-width: 30rem;
}

.for-tekst2 p{
    max-width: 40rem;
    min-width: 30rem;
}

/*---------------Reflection-side---------------*/
/*---Introduksjon---*/
/*Plassering av elementene*/
.introduksjon2{
    flex-direction: row;
 }
 
 /*Styling av tekst*/
 .introduksjon2 h1 {
     text-align: right;
     max-width: 35rem;
  
 }
 
 .introduksjon2 p {
     text-align: right;
     max-width: 35rem;
     padding-bottom: 7rem;
     
 }
 
 /*---Hoveddel---*/
 /*plassering av elementene*/
 .refleksjon:nth-child(2){
     flex-direction: row-reverse;
 }
 
 .refleksjon:nth-child(3){
    flex-direction: row;
 }
 
 /*tekststyling*/
 .ref-tekst1 p{
     text-align: left;
     min-width: 35rem;
 }
 
 .ref-tekst1 h2 {
     text-align: left;
 }
 
 .ref-tekst2 p{
     text-align: right;
     max-width: 35rem;
 }
 
 .ref-tekst2 h2 {
     text-align: right;
 }
 
 /*styling av tekstbilder*/
 .refleksjon img {
     width: 300px;
 }
 
 .konklusjon p{
     max-width: 45rem;
 }
/*---------------Accessibility---------------*/
#innledning p{
    margin-right: 7rem;
    margin-left: 7rem;
}

.forklaring img{
    max-width: 880px;
    width: 50%;
    height: 30rem;
}    

/*Styling av boksene */
.forklaring:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.forklaring:nth-child(3){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.forklaring:nth-child(4){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

}