* {
    box-sizing: border-box;
    z-index: 2;

}

body{
    margin: auto;
    max-width: 50%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    margin: auto;
    padding: 10px;
    display: block;
    align-content: center;
    max-width: 70ch;
}

#text{
    background: rgba(0, 0, 0, 0.7);
}

#video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

