/*Nullstiller det som evt blir lagt inn autmatisk */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* -- styling til skriftstørrelse og skrifttype--*/
p{
    font-size: 14px;
    line-height: 1.5rem;
}

/* Margin til alle div-ene*/
div{
    padding: 2.5rem;
}

footer{
    height: 5vh;
    background-color: black;
}








                        /*-------LITEN SKJERM------*/
                        /*---- Screens < 600px ----*/


/*---HEADER---*/

/*Styling for header */
header{
   background-color: #ffd500;

   height: fit-content;
   min-height: 4rem;

   /*Gjør at navigasjonsbaren følger med når man blar seg opp/ned på siden*/
   position: sticky;
   position: -webkit-sticky;
   top: 0;

   display: flex;
   justify-content: center;
   align-items: center;
}

header ul{                       /* bruker flexbox for å plassere knappene til navigasjonsboksen*/
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

header li{
    list-style-type: none;
    padding: 0.5rem;
}

header li a{
    color: black;
    text-decoration: none;
    
}

header a:hover{
border-bottom: solid 2px black;
}




/*Introduksjon*/

/*justering av plassering*/
/*----HOME-PAGE----*/
.introduksjon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    background-color: white;
}

/*styling av tekst*/
.introduksjon h1{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 250%;
}

.introduksjon p{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 10rem;
    max-width: 600px;
    min-width: 400px;
    
}
    
/*styling av bildet*/  

.introduksjon img{
    width: 400px;
    
}

/* justering av forhåndsvisningene*/

.forhåndsvisning:nth-child(2){
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row-reverse;
    background-color:#ffd500
}


.forhåndsvisning:nth-child(3){
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    background-color:white;
}

.forhåndsvisning:nth-child(4){
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row-reverse;
    background-color:#ffd500
}


.forhåndsvisning:nth-child(5){
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    background-color:white;
}

/* Justering av bildene til forhåndsvisningene */
.forhåndsvisning img{
    width: 200px;
    padding: 1rem;
}

/*justering av tekst til forhåndsvisningene*/
.for-tekst1 p{
    text-align: left;
    max-width: 30rem;
    min-width: 20rem;
}
.for-tekst1 h2{
    text-align: left;
}

.for-tekst2 p{
    text-align: right;
    max-width: 30rem;
    min-width: 20rem;
}
.for-tekst2 h2{
    text-align: right;
}




/*----Reflection-Page----*/


/*---Introduksjon---*/

/*Plassering av elementene*/
.introduksjon2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd500;
}

/*Styling av tekst*/
.introduksjon2 h1 {
    text-align: right;
    padding-top: 3rem;
    max-width: 20rem;
}

.introduksjon2 p {
    text-align: right;
    padding-bottom: 7rem;
    max-width: 20rem;
}

/*Styling av forsidebilde*/
.introduksjon2 img:nth-child(2){
    width: 300px;
    height: 375px;
}

/*---Hoveddel---*/

/*plassering av elementene*/
.refleksjon:nth-child(2)
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row-reverse;
}

.refleksjon:nth-child(3){
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}

/*tekststyling*/
.ref-tekst1 p{
    text-align: left;
    max-width: 30rem;
    min-width: 10rem;
}
.ref-tekst1 h2 {
    text-align: left;
}

.ref-tekst2 p{
    text-align: right;
    max-width: 30rem;
    min-width: 10rem;
}
.ref-tekst2 h2 {
    text-align: right;
}


/*styling av tekstbilder*/
.refleksjon img {
    width: 200x;
    height: 300px;
    display: block; 
    

}


/*---Konklusjon---*/

/*plassering av elementene*/
.konklusjon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#ffd500;
   
}

/*Styling av tekst*/
.introduksjon2 h1{
    text-align: center;
    padding-top: 3rem;
}

.introduksjon2 p{
    text-align: center;
    padding-bottom: 7rem;
}

/*Styling av tekst*/
.konklusjon h2{
    text-align: center;
    padding-top: 5rem;
    
}

.konklusjon p{
    text-align: center;
    padding-bottom: 7rem;
    max-width: 30rem;
    min-width: 10rem;
}

/*Bildestyling av OsloMet*/
.refleksjon img:nth-child(2){
width: 400px;
height: 400px;
padding: 3rem; 
}







/*----ACCESSIBILITY-PAGE---- */
/*Styling av overskriften og innledning*/
#innledning h1{
   padding-bottom: 1rem;
} 

#innledning p{
    margin-right: 3rem;
    margin-left: 3rem;
}

#innledning{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Styling av teskten*/
.forklaring p{
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

/*Styling av bilder */
.forklaring img{
    height: 15rem;  
    width: 100%;
    max-width: 520px;
}

/*Bruker pseudo-element for å veksle gul og hvit-farge på tekstbokser*/
.forklaring:nth-child(2){
    background-color: #ffd500;
}

.forklaring:nth-child(4){
    background-color: #ffd500;
}




/*----TOPICAL INFORMATION-PAGE----*/
#overskrift1{
margin-left: 2rem;
margin-right: 2rem;
margin-top: 2rem;

padding-top: 2rem;
padding-left: 2rem;
padding-right: 2rem;

display: flex;
justify-content: center;
align-items: center;
}

/*Styling av referanser i teksten*/
.oppgavetekst a{
   text-decoration: none;
}

.oppgavetekst a:hover{
    color: blue;
}

/*Styling av kildeliste*/
#kilder li{
    list-style-type: none;
}

#kilder li a{
    color: black;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

#kilder li a:hover{
    background-color: #ffd500;
    tab-size: 5px;
}





                        /*--------MEDIUM STORE SKJERMER--------*/
                        /* ---Screens 600px –960 px ----*/

@media screen and (min-width: 600px){

 


/*---Accessibility--- */
#innledning p{
    margin-right: 5rem;
    margin-left: 5rem;
}

.forklaring{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Styling av teskten*/
.forklaring p{
    line-height: 1.5rem;
    padding: 1rem;
}

.forklaring img{
    max-width: 880px;
    width: 100%;
    height: 30rem;
}



}







                        /*----------STORE SKJERMER--------*/
                        /* ---Screens >960 px--- */
@media screen and (min-width: 960px){

/*---Accessibility---*/
#innledning p{
    margin-right: 7rem;
    margin-left: 7rem;
}
/*Styling av bilder */
.forklaring:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffd500;
}

.forklaring:nth-child(3){
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.forklaring:nth-child(4){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffd500;
}

.forklaring img{
    max-width: 880px;
    width: 50%;
    height: 30rem;
}





}