* {
    margin: 0;
    padding: 0;
    
}

header{
    background: linear-gradient(to left, orange , yellow, green, cyan, blue, violet);

    height: fit-content;
    min-height: 2rem;
 
    /*Gjør at navigasjonsbaren følger med når man blar seg opp/ned på siden*/
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

 header ul{                       /* bruker flexbox for å plassere knappene til navigasjonsboksen*/
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header li{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 5%;
    margin-left: 5%;
  
    list-style-type: none;

    background-color: rgba(0,0,0,0.5);
}

header li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 0.8rem;
}

header a:hover{
    background-color: black;
}

.content {
    width: 41%;
    height: auto;
    text-align: center;
    padding: 2.5%;
    padding-top: 75px;
    padding-bottom: 75px;
    flex-grow: 1;
    border-width:2%;
    border-style: solid;
    border-color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.sporsmaal {
    width: 100%;
    font-size: 2.5em;
    text-align: center;
    padding: 25px;
    border-width:4px;
    border-style: solid;
    border-color: black;
}



/*
.item1 { grid-area: overskrift; }
.item2 { grid-area: imgalt; }
.item3 { grid-area: overskrift2; }
.item4 { grid-area: imgalt2; }

.grid-container {
display: grid;
grid-template-areas:
'overskrift overskrift'
'imgalt imgalt'
'overskrift2 overskrift2'
'imgalt2 imgalt2'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt'
'overskrift overskrift'
'imgalt imgalt' ;

grid-gap: 10px;
padding: 10px;
}

.grid-container > div.item1 {
    padding: 0;
    font-size: 0;
}

.grid-container > div.item2 {
    
    
}
*/

img {
    width: 65%;
    height: auto;
}



/* Screens 600px –960px */







/* Screens >960 px */






/* Screens < 500px */